.header {
    background-image: url('../assets/books-bookstore-book-reading-159711.jpeg');
    opacity: 0.5;
    width: 100%;
    height: 300px;
}

.text-bolder {
    font-weight: bolder;
}

.text-size {
    font-size: xx-large;
}


