.banner-top {
    color: white;
    padding: 10px 0 10px 0;
}

.banner-top-content {
    margin-top: 10px;
    
}

.banner-top-content button {
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    box-shadow: 5px 0px 12px #2A303F;
}

.banner-top-content button:hover{
    color: white;
    background-color: #2A303F !important;
}

.carousel-caption {
    opacity: 0.5;
    /* padding: 5% 5% 5% 5%; */
    margin-bottom: 5%;
    width: 50%;
}